# git tracking setup

# blacklist everything
*

# whitelist the .gitignore
!.gitignore

# whitelist all directories
!*/

# blacklist select directories
**/_build
.vscode/
temp/

# whitelist the extensions we care about
!Makefile
!META
!*.rst
!*.ml
!*.mli
!*.c
!*.cS
!*.json
!*.us
!*.mk
!*.Dockerfile

